<!doctype html>
<html>
<head>
  <title>VoiceOver</title>
  <link href="//code.jquery.com/ui/1.11.1/themes/ui-darkness/jquery-ui.css" rel="stylesheet" />
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
  <link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/cyborg/bootstrap.min.css" rel="stylesheet" />
  <link href="//fotorama.s3.amazonaws.com/4.6.0/fotorama.css" rel="stylesheet" />
  <link href="//fonts.googleapis.com/css?family=Oswald" rel="stylesheet" />
  <link href="/app.css?v<%= VoiceOver::VERSION %>" rel="stylesheet" />

  <meta property="og:description" content="VoiceOver" />
  <meta property="og:url" content="http://voiceoverproject.org"/>
  <meta property="og:image" content="http://voiceoverproject.org/icon.png" />

  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <%= yield %>

  <% if APP_ENV == "production" %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//fotorama.s3.amazonaws.com/4.6.0/fotorama.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.1/react-with-addons.min.js"></script>
  <script src="//cdn.rawgit.com/rackt/react-router/v0.5.2/dist/react-router.min.js"></script>
  <script src="//cdn.rawgit.com/quickleft/react-loader/master/lib/react-loader.js"></script>

  <script>
  (function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,"script","//www.google-analytics.com/analytics.js","ga");

  ga("create", "<%= ENV["GA_TRACKER_ID"] %>", "auto");
  </script>
  <% else %>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.js"></script>
  <script src="//code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.js"></script>
  <script src="//fotorama.s3.amazonaws.com/4.6.0/fotorama.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/react/0.11.1/react-with-addons.js"></script>
  <script src="//cdn.rawgit.com/rackt/react-router/v0.5.2/dist/react-router.js"></script>
  <script src="//cdn.rawgit.com/quickleft/react-loader/master/lib/react-loader.js"></script>
  <% end %>
  <script src="/js/app.js?v<%= VoiceOver::VERSION %>"></script>
  <script src="/js/home.js?v<%= VoiceOver::VERSION %>"></script>
  <script src="/js/photos.js?v<%= VoiceOver::VERSION %>"></script>
  <script src="/js/stories.js?v<%= VoiceOver::VERSION %>"></script>
  <script src="/js/routes.js?v<%= VoiceOver::VERSION %>"></script>
</body>
</html>
